<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Attività</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
	<div class="div.table">
    	<h2>Attivita'</h2>
    	<p>
        	<a th:href="@{'/centro/' + ${centro.id} + '/addAttivita'}" class="button">Aggiungi una nuova attività</a>
        </p>
			<table>
				<tr>
					<th>Nome</th>
				</tr>
				<tr th:each="attivita : ${leattivita}">
					<td><a th:if="${attivita.centro.id} == ${centro.id}" th:href="@{'/centro' + '/' + ${centro.id} + '/' + ${attivita.id}}"><span th:text="${attivita.nome}"></span></a></td>					
                </tr>
            </table>
    </div>
    <div>
    </div>
    <div>
    	<a th:href="@{'/centro' + '/' + ${centro.id}}" class="button big attivita home">Back</a>
    	<center><a th:href="@{'/'}" class="button big attivita home">Torna alla Home</a></center>
    </div>
</body>
</html>